In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [6]:
data.to_csv('out.csv')

In [7]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [8]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [9]:
data.to_csv(sys.stdout, index=False, header=False)
# By passing sys.stdout as the first argument to to_csv(), the code is telling pandas to write the CSV data to the standard output stream instead of a file.

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [13]:
import numpy as np
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('out.csv')
#go and see csv now